/*
 * ==================================================================================
 * font
 * ==================================================================================
 */

@mixin font($font_name, $file_name, $weight, $style) {
    font-display: swap;
    font-family: $font_name;
    font-weight: $weight;
    font-style: $style;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
}

/*
 * ==================================================================================
 * row
 * ==================================================================================
 */

@mixin _row($margin) {
    margin-left: -$margin;
    margin-right: -$margin;
    display: flex;
    flex-wrap: wrap;
}

/*
 * ==================================================================================
 * column
 * ==================================================================================
 */

@mixin _col($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

/*
 * ==================================================================================
 * adaptiv-value
 * ==================================================================================
 */

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        // if the width is less than width of the container
        #{$property}: $startSize + px;
        @media (max-width: $widthContainer + px) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$widthContainer - 320}));
        }
    } @else if $type==2 {
        // if the width is greater than width of the container
        #{$property}: $startSize + px;
        @media (min-width: $widthContainer + px) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else if $type==3 {
        // always
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}
