/*
 * ==================================================================================
 * html
 * ==================================================================================
 */

html {
    font-size: 16px;
}

/*
 * ==================================================================================
 * body
 * ==================================================================================
 */

body {
    color: $black;
    font-family: "Arial", sans-serif;
    font-size: 1rem;
}

/*
 * ==================================================================================
 * standart
 * ==================================================================================
 */

img,
svg {
    max-width: 100%;
    height: auto;
}

.b-lazy {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.wrapper {
    max-width: $maxWidth + px;
    min-width: 320px;
    margin: 0 auto;
}

input,
button {
    outline: none;
    border: none;
}

button {
    background: transparent;
    cursor: pointer;
    padding: 0;
}

/*
 * ==================================================================================
 * grid
 * ==================================================================================
 */

.container {
    max-width: $widthContainer + 30px !important;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.row {
    margin-left: -($columnGap / 2) + px;
    margin-right: -($columnGap / 2) + px;
}

.col {
    margin-right: ($columnGap / 2) + px;
    margin-left: ($columnGap / 2) + px;
}
