/*
 * ================================================================================== 
 * font settings
 * ==================================================================================
 */
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$bolder: 800;

/* 
 * ==================================================================================
 * colors
 * ==================================================================================
 */
$black: #000;
$dark-grey: #333;
$white: #fff;

/* 
 * ==================================================================================
 * window's size
 * ==================================================================================
 */
$xx: 440; // window size < 440px
$xs: 560; // window size < 560px
$sm: 780; // window size < 780px
$md: 960; // window size < 960px
$lg: 1100; // window size < 1100px

/* 
 * ==================================================================================
 * default
 * ==================================================================================
 */

/* html */
$htmlFontSize: 16; // size is in "px"

/* body */
$bodyColor: $black;
$fontFamily: "sans-serif";

/* text */
$text-color: $black;

$text-size: 1.125rem; // size is in "rem"
$text-size-sm: 1rem; // size is in "rem"

$text-small-size: 1rem; // size is in "rem"
$text-small-size-sm: 0.875rem; // size is in "rem"

$text-big-size: 1.375rem; // size is in "rem"
$text-big-size-sm: 1.125rem; // size is in "rem"

/* link */
$link-color: $black;

$link-size: $text-size; // if you need another size, you can change size
$link-size-sm: $text-size-sm; // if you need another size, you can change size

/* button */
$button-size: $text-size; // if you need another size, you can change size
$button-size-sm: $text-size-sm; // if you need another size, you can change size

/* container */
$widthContainer: 1170; // size is in "px"
$maxWidth: 1920; // size is in "px"
