/*
 * ================================================================================== 
 * font settings
 * ==================================================================================
 */

$thin: 100 !default;
$extra-light: 200 !default;
$light: 300 !default;
$normal: 400 !default;
$medium: 500 !default;
$semi-bold: 600 !default;
$bold: 700 !default;
$bolder: 800 !default;

/* 
 * ==================================================================================
 * colors
 * ==================================================================================
 */

$black: #000 !default;
$dark-grey: #777 !default;
$white: #fff !default;

/* 
 * ==================================================================================
 * window's size
 * ==================================================================================
 */

$xx: 440 !default; // window size < 440px
$xs: 560 !default; // window size < 560px
$sm: 780 !default; // window size < 780px
$md: 960 !default; // window size < 960px
$lg: 1100 !default; // window size < 1100px

/* 
 * ==================================================================================
 * default
 * ==================================================================================
 */

$widthContainer: 1170 !default; // size is in "px"
$maxWidth: 1920 !default; // size is in "px"
