/*
 * ==================================================================================
 * reset
 * ==================================================================================
 */

@include reset();

/*
 * ==================================================================================
 * standart
 * ==================================================================================
 */

svg {
    width: 100%;
    height: auto;
}

.b-lazy {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    @include wrapper();
}

.container-fluid {
    @include wrapper-fluid();
}

.row {
    @include row-flex();
}

.col {
    @include col();
}

/*
 * ==================================================================================
 * text-align
 * ==================================================================================
 */

.text-align {
    text-align: left;

    &_center {
        text-align: center;
    }

    &_right {
        text-align: right;
    }

    &_center_sm {
        @media (max-width: $sm) {
            text-align: center;
        }
    }

    &_right_sm {
        @media (max-width: $sm) {
            text-align: right;
        }
    }
}

/*
 * ==================================================================================
 * justify-content
 * ==================================================================================
 */
.justify-content {
    justify-content: flex-start;

    &_center {
        justify-content: center;
    }

    &_end {
        justify-content: flex-end;
    }

    &_between {
        justify-content: space-between;
    }

    &_center_sm {
        @media (max-width: $sm) {
            justify-content: center;
        }
    }

    &_end_sm {
        @media (max-width: $sm) {
            justify-content: flex-end;
        }
    }

    &_between_sm {
        @media (max-width: $sm) {
            justify-content: space-between;
        }
    }
}

/*
 * ==================================================================================
 * display
 * ==================================================================================
 */
.display {
    display: block;

    &_none {
        display: none;
    }

    &_flex {
        display: flex;
    }

    &_inline-block {
        display: inline-block;
    }

    &_inline {
        display: inline;
    }

    // for size lg
    &_lg {
        @media (max-width: $lg) {
            display: block;
        }
    }

    &_none_lg {
        @media (max-width: $lg) {
            display: none;
        }
    }

    &_flex {
        @media (max-width: $lg) {
            display: flex;
        }
    }

    &_inline-block {
        @media (max-width: $lg) {
            display: inline-block;
        }
    }

    &_inline {
        @media (max-width: $lg) {
            display: inline;
        }
    }

    // for size md
    &_md {
        @media (max-width: $md) {
            display: block;
        }
    }

    &_none_md {
        @media (max-width: $md) {
            display: none;
        }
    }

    &_flex_md {
        @media (max-width: $md) {
            display: flex;
        }
    }

    &_inline-block_md {
        @media (max-width: $md) {
            display: inline-block;
        }
    }

    &_inline_md {
        @media (max-width: $md) {
            display: inline;
        }
    }

    // for size sm
    &_sm {
        @media (max-width: $sm) {
            display: block;
        }
    }

    &_none_sm {
        @media (max-width: $sm) {
            display: none;
        }
    }

    &_flex_sm {
        @media (max-width: $sm) {
            display: flex;
        }
    }

    &_inline-block_sm {
        @media (max-width: $sm) {
            display: inline-block;
        }
    }

    &_inline_sm {
        @media (max-width: $sm) {
            display: inline;
        }
    }
    
    // for size xs
    &_xs {
        @media (max-width: $xs) {
            display: block;
        }
    }

    &_none_xs {
        @media (max-width: $xs) {
            display: none;
        }
    }

    &_flex_xs {
        @media (max-width: $xs) {
            display: flex;
        }
    }

    &_inline-block_xs {
        @media (max-width: $xs) {
            display: inline-block;
        }
    }

    &_inline_xs {
        @media (max-width: $xs) {
            display: inline;
        }
    }

    // for size xx
    &_xx {
        @media (max-width: $xx) {
            display: block;
        }
    }

    &_none_xx {
        @media (max-width: $xx) {
            display: none;
        }
    }

    &_flex_xx {
        @media (max-width: $xx) {
            display: flex;
        }
    }

    &_inline-block_xx {
        @media (max-width: $xx) {
            display: inline-block;
        }
    }

    &_inline_xx {
        @media (max-width: $xx) {
            display: inline;
        }
    }
}