/*
 * ==================================================================================
 * reset
 * ==================================================================================
 */

@include reset();

/*
 * ==================================================================================
 * standart
 * ==================================================================================
 */

svg {
    width: 100%;
    height: auto;
}

.b-lazy {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    @include wrapper();
}

.container-fluid {
    @include wrapper-fluid();
}

.row {
    @include row-flex();
}

.col {
    @include col();
}

/*
 * ==================================================================================
 * text-align
 * ==================================================================================
 */

.text {
    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-sm-center {
        @media (max-width: $sm) {
            text-align: center;
        }
    }

    &-sm-right {
        @media (max-width: $sm) {
            text-align: right;
        }
    }
}

/*
 * ==================================================================================
 * justify-content
 * ==================================================================================
 */
.justify {

    &-center {
        justify-content: center;
    }

    &-end {
        justify-content: flex-end;
    }

    &-between {
        justify-content: space-between;
    }

    &-sm-center {
        @media (max-width: $sm) {
            justify-content: center;
        }
    }

    &-sm-end {
        @media (max-width: $sm) {
            justify-content: flex-end;
        }
    }

    &-sm-between {
        @media (max-width: $sm) {
            justify-content: space-between;
        }
    }
}

/*
 * ==================================================================================
 * display
 * ==================================================================================
 */
.d {
    &-none {
        display: none;
    }

    &-flex {
        display: flex;
    }

    &-block {
        display: block;
    }

    // for size lg
    &-lg-none {
        @media (max-width: $lg) {
            display: none;
        }
    }

    &-lg-block {
        @media (max-width: $lg) {
            display: block;
        }
    }

    &-lg-flex {
        @media (max-width: $lg) {
            display: flex;
        }
    }

    // for size md
    &-md-none {
        @media (max-width: $md) {
            display: none;
        }
    }

    &-md-block {
        @media (max-width: $md) {
            display: block;
        }
    }

    &-md-flex {
        @media (max-width: $md) {
            display: flex;
        }
    }

    // for size sm
    &-sm-none {
        @media (max-width: $sm) {
            display: none;
        }
    }

    &-sm-block {
        @media (max-width: $sm) {
            display: block;
        }
    }

    &-sm-flex {
        @media (max-width: $sm) {
            display: flex;
        }
    }
    
    // for size xs
    &-xs-none {
        @media (max-width: $xs) {
            display: none;
        }
    }

    &-xs-block {
        @media (max-width: $xs) {
            display: block;
        }
    }

    &-xs-flex {
        @media (max-width: $xs) {
            display: flex;
        }
    }

    // for size xx
    &-xx-none {
        @media (max-width: $xx) {
            display: none;
        }
    }

    &-xx-block {
        @media (max-width: $xx) {
            display: block;
        }
    }

    &-xx-flex {
        @media (max-width: $xx) {
            display: flex;
        }
    }
}